ion-content {
    --ion-background-color: #333232;
}
ion-item{
    --ion-background-color: #222428;
  }

  .btn{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
  }