ion-content {
    --ion-background-color: #333232;
}

ion-item{
  --ion-background-color: #222428;
}

ion-icon {
  font-size: 24px;
}
ion-select {  color : white !important; } 

.request{
  display: inline-block;
  width: 80%;
  background-color: #222428;
  margin-top: 60px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 2px;
}
